html
{
	scroll-behavior: smooth; 
}
@media only and (max-width: 375px){
}

	body
	{
		/*display: grid; */
		background: white; 
		margin: 0;  
		padding: 0;
		font-family: sans-serif; 
	}
	ul li
	{
		list-style: none;
	}
	ul li a
	{
		margin-top: 0;
		color: yellow; 
		/*color: #14A098;*/
		line-height: 50px;
		box-sizing: border-box;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}

	section
	{
		display: grid;
		grid-template-columns: repeat(3,fr);
		grid-column-gap: 0px;
		padding-top:50px;
		height: 99.3vh;
		margin-top: 0;
		
	}
	section:nth-child(odd){
		background: #1d2a33;
	}
	section:nth-child(even)
	{
		background: #031929; 
	}
	section:before
	{
		content: attr(data-text);
		color: #CB2D6F;
		font-size: 8em;
		text-transform: : uppercase;
		font-weight: bold;
		justify-content: space-around;
		align-items: flex-start;
	}

	ul
	{ 

		width: 100%;
		background: black;
		height:50px; 
		margin: 0;
		padding: 0;
		position: sticky;
		top: 0px;
		letter-spacing: 0; 
		display: flex;
		justify-content: space-around;

	}



	.first{
		grid-column: 1; 
		grid-row: 2; 
		color: yellow;
		font-size: 1em; 
	}

	.second{
		grid-column: 1;
		grid-row: 3;  
		text-align: left;
		color: white;
		font-size: 1.5em;
	}
