html
{
	scroll-behavior: smooth; 
}
body
{
	margin: 0;  
	padding: 0;
	font-family: sans-serif; 
}

p{
	text-align: center;
	color: black;
	font-size: 2em; 
	
}
section
{

	padding-top:50px;
	height: 99.3vh;
	display: flex;
	margin-top: 0;
	
}
section:nth-child(odd)
{
	background: black; 
}
section:before
{
	content: attr(data-text);
	color: #CB2D6F;
	font-size: 8em;
	text-transform: : uppercase;
	font-weight: bold;
	justify-content: space-around;
	align-items: flex-start;
}

ul
{ 

	width: 100%;
	background: #0F292F;
	height:50px; 
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0px;
	letter-spacing: 0; 
	display: flex;
	justify-content: space-around;

}
ul li
{
	list-style: none;
}
ul li a
{
	margin-top: 0; 
	color: #14A098;
	line-height: 50px;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	
}
